In [9]:
import sqlite3  # è¿™å°±æ˜¯æˆ‘ä»¬çš„æ•°æ®åº“å¼•æ“
import pandas as pd  # å¤„ç†è¡¨æ ¼æ•°æ®çš„ç¥å™¨
import numpy as np  # å¤„ç†æ•°å€¼çš„å¸®æ‰‹
import matplotlib.pyplot as plt  # ç”»å›¾ç”¨çš„ï¼Œåé¢ä¼šç”¨åˆ°
# %matplotlib inline  # è®©å›¾è¡¨ç›´æ¥åœ¨Notebooké‡Œæ˜¾ç¤º

# 2. å»ºç«‹ä¸€ä¸ªæ•°æ®åº“è¿æ¥ã€‚å¦‚æœä¸å­˜åœ¨ 'online_retail.db' è¿™ä¸ªæ–‡ä»¶ï¼Œå®ƒä¼šè‡ªåŠ¨åˆ›å»ºã€‚
# æŠŠå®ƒæƒ³è±¡æˆä½ æ‰“å¼€äº†æ•°æ®åº“è½¯ä»¶ï¼Œå‡†å¤‡å¹²æ´»ã€‚
conn = sqlite3.connect('online_retail.db')
print("âœ… æ•°æ®åº“è¿æ¥å·²å»ºç«‹ï¼")

âœ… æ•°æ®åº“è¿æ¥å·²å»ºç«‹ï¼

In [7]:
# ç”¨æ¥æŸ¥çœ‹æ–‡ä»¶çš„ç¼–ç æ–‡ä»¶
import chardet

# æ£€æµ‹æ–‡ä»¶ç¼–ç 
with open('OnlineRetail.csv', 'rb') as f:
    result = chardet.detect(f.read())

print(f"æ£€æµ‹åˆ°çš„ç¼–ç æ˜¯: {result['encoding']}")

# ä½¿ç”¨æ£€æµ‹åˆ°çš„ç¼–ç è¯»å–æ–‡ä»¶
df = pd.read_csv('OnlineRetail.csv', encoding=result['encoding'])
print('æŸ¥çœ‹æ•°æ®å½¢çŠ¶:', df.shape)
print('å‰5è¡Œ:')
display(df.head())

æ£€æµ‹åˆ°çš„ç¼–ç æ˜¯: ISO-8859-1
æŸ¥çœ‹æ•°æ®å½¢çŠ¶: (541909, 8)
å‰5è¡Œ:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

- encoding='unicode_escape'ï¼šè¿™ä¸ªæ•°æ®é›†ç¼–ç æœ‰ç‚¹æ€ªï¼Œä¸åŠ è¿™ä¸ªå‚æ•°ä½ å¾ˆå¯èƒ½çœ‹åˆ°ä¹±ç æŠ¥é”™ï¼Œè®°ä½å®ƒï¼Œè¿™æ˜¯ç»éªŒã€‚

- parse_dates=['InvoiceDate']ï¼šä¸»åŠ¨å‘Šè¯‰ pandas æŠŠ â€œInvoiceDateâ€ åˆ—å½“ä½œæ—¥æœŸæ—¶é—´ç±»å‹å¤„ç†ï¼Œåç»­åšæ—¶é—´ç­›é€‰æ—¶ä½ ä¼šæ„Ÿè°¢æˆ‘è¿™ä¸ªæé†’ã€‚

- è¿è¡Œåï¼Œä½ åº”è¯¥èƒ½çœ‹åˆ°æ•°æ®é¢„è§ˆå’Œä¸€ä¸ªæˆåŠŸçš„æç¤ºã€‚è¿™æ—¶ï¼Œä½ ç›®å½•ä¸‹ä¼šç”Ÿæˆä¸€ä¸ª online_retail.db æ–‡ä»¶ï¼Œè¿™å°±æ˜¯ä½ çš„æ•°æ®åº“äº†ã€‚

In [13]:
# 3. ç”¨ pandas è¯»å– CSV æ–‡ä»¶ã€‚æ³¨æ„ç¼–ç å’Œæ—¥æœŸæ ¼å¼ï¼Œè¿™ä¸ªæ•°æ®é›†æœ‰å‘ï¼Œæˆ‘ä»¬æå‰ç»•è¿‡ã€‚
# æŠŠ â€˜ä½ çš„æ–‡ä»¶è·¯å¾„â€™ è¿™å‡ ä¸ªå­—ï¼Œæ›¿æ¢æˆä½ ç”µè„‘ä¸Š OnlineRetail.csv çš„çœŸå®è·¯å¾„ï¼Œä¾‹å¦‚ï¼šr'C:\Users\ä½ çš„åå­—\Downloads\OnlineRetail.csv'
# æ³¨æ„ï¼šè·¯å¾„å‰çš„ â€˜râ€™ æ˜¯ä¸ºäº†é˜²æ­¢è½¬ä¹‰å­—ç¬¦å‡ºé”™ï¼ŒWindowsç”¨æˆ·å°¤å…¶è¦æ³¨æ„ï¼
file_path = 'OnlineRetail.csv'
df = pd.read_csv(file_path, encoding='unicode_escape', parse_dates=['InvoiceDate'])

# 4. çœ‹ä¸€çœ¼æ•°æ®é•¿ä»€ä¹ˆæ ·ï¼Œè¿™æ˜¯æ•°æ®åˆ†æå¸ˆçš„æœ¬èƒ½ã€‚head()æ˜¯çœ‹å‰5è¡Œã€‚
print("ğŸ“„ æ•°æ®é¢„è§ˆ (å‰5è¡Œ):")
print(df.head())
print("\nğŸ“Š æ•°æ®å½¢çŠ¶ (è¡Œæ•°ï¼Œåˆ—æ•°):", df.shape)

# 5. å°† pandas DataFrame å†™å…¥ SQLite æ•°æ®åº“ï¼Œå‘½åä¸º â€˜retailâ€™ è¡¨ã€‚
# if_exists='replace' æ„æ€æ˜¯ï¼šå¦‚æœå·²ç»æœ‰å« â€˜retailâ€™ çš„è¡¨ï¼Œå°±æ›¿æ¢æ‰ã€‚ç¬¬ä¸€æ¬¡è·‘æ”¾å¿ƒç”¨ã€‚
df.to_sql('retail', conn, if_exists='replace', index=False)
print("ğŸ‰ æ•°æ®å·²æˆåŠŸå¯¼å…¥æ•°æ®åº“è¡¨ â€˜retailâ€™ ï¼")

ğŸ“„ æ•°æ®é¢„è§ˆ (å‰5è¡Œ):
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

ğŸ“Š æ•°æ®å½¢çŠ¶ (è¡Œæ•°ï¼Œåˆ—æ•°): (541909, 8)
ğŸ‰ æ•°æ®å·²æˆåŠŸå¯¼å…¥æ•°æ®åº“è¡¨ â€˜retailâ€™ ï¼

# 1.æ•°æ®æå–ä¸åŸºæœ¬æ¢ç´¢

- ç›®æ ‡ï¼šç†Ÿæ‚‰æ•°æ®ï¼Œç»ƒä¹ SELECT, WHERE, COUNT, DISTINCTï¼Œæ—¥æœŸå‡½æ•°ã€‚
- å…³é”®ï¼šå‡†ç¡®ç­›é€‰å’Œæ±‡æ€»æ•°æ®ã€‚

#### ä»»åŠ¡1.1ï¼šåŸºç¡€æŸ¥è¯¢ï¼šä»æ•°æ®é›†ä¸­æå–æŒ‡å®šå›½å®¶ï¼ˆå¦‚å¾·å›½ï¼‰ä¸Šä¸ªæœˆçš„æ‰€æœ‰è®¢å•æ•°æ®ã€‚

- SELECT *ï¼šåœ¨æ¢ç´¢é˜¶æ®µå¸¸ç”¨ï¼Œä½†å®é™…å·¥ä½œä¸­å’Œé¢è¯•æ—¶ï¼Œä¸¥ç¦åœ¨æ­£å¼ä»£ç æˆ–æŠ¥å‘Šé‡Œå†™ SELECT *ã€‚ä½ å¿…é¡»æ˜ç¡®æŒ‡æ˜éœ€è¦çš„å­—æ®µã€‚è¿™é‡Œåªæ˜¯ä¸ºäº†æ¼”ç¤ºã€‚

- WHEREï¼šè¿™æ˜¯è¿‡æ»¤æ•°æ®çš„ç”Ÿå‘½çº¿ã€‚é¢è¯•å¿…è€ƒã€‚æ³¨æ„ï¼Œåœ¨SQLä¸­ï¼Œå­—ç¬¦ä¸²ç”¨å•å¼•å·ã€‚

- COUNT(*) å’Œ COUNT(DISTINCT ...)ï¼šè¿™æ˜¯ä¸¤ä¸ªå¤©å·®åœ°åˆ«çš„æ¦‚å¿µã€‚

- COUNT(*)ï¼šæ•°çš„æ˜¯æ€»è¡Œæ•°ã€‚

- COUNT(DISTINCT CustomerID)ï¼šæ•°çš„æ˜¯ä¸é‡å¤çš„å®¢æˆ·IDæ•°é‡ã€‚å¦‚æœå®¢æˆ·æœ‰é‡å¤è´­ä¹°ï¼Œä»–åªè¢«è®¡ç®—ä¸€æ¬¡ã€‚é¢è¯•å®˜100%ä¼šé—®ä½ å®ƒä»¬çš„åŒºåˆ«ã€‚

- MIN() / MAX()ï¼šèšåˆå‡½æ•°ï¼Œè¿™é‡Œç”¨æ¥ç¡®å®šæ•°æ®çš„æ—¶é—´èŒƒå›´ã€‚

In [15]:
# 6.åˆ›å»ºä¸€ä¸ªæ¸¸æ ‡,è¿™ä¸ªå‘æ•°æ®åº“å‘é€sqlæŒ‡ä»¤çš„'ä¼ è¯ç­’'
cur = conn.cursor()

# æ‰§è¡ŒSQLæŸ¥è¯¢
query_task1_1 = """
SELECT *
FROM retail
WHERE Country == 'Germany'
-- LIMIT 10; -- åˆæ¬¡æŸ¥è¯¢ï¼Œå…ˆç”¨LIMITçœ‹çœ‹ç»“æœï¼Œç¡®è®¤æ— è¯¯åå†å»æ‰å®ƒè¿è¡Œå…¨éƒ¨æ•°æ®
"""
# å…ˆåªå–10æ¡çœ‹çœ‹ï¼Œæ²¡é—®é¢˜å°±æ³¨é‡Šæ‰ LIMIT 10ï¼Œå†è¿è¡Œä¸€æ¬¡
df_task1_1 = pd.read_sql_query(query_task1_1,conn)
print(f'å¾·å›½åœ°åŒºå…±æœ‰{len(df_task1_1)}æ¡äº¤æ˜“è®°å½•')
display(df_task1_1)

å¾·å›½åœ°åŒºå…±æœ‰9495æ¡äº¤æ˜“è®°å½•

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany
1,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662.0,Germany
2,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662.0,Germany
3,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662.0,Germany
4,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
9490,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713.0,Germany
9491,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713.0,Germany
9492,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713.0,Germany
9493,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713.0,Germany
9494,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713.0,Germany

#### ä»»åŠ¡1.2ï¼šæ•°æ®æ¦‚è§ˆ - è®¡ç®—æ ¸å¿ƒæŒ‡æ ‡

Invoice-----å‘ç¥¨

Customer----å®¢æˆ·

Stock----åº“å­˜

distinct----ç‹¬ç‰¹çš„

In [20]:
query_task1_2 = """
SELECT
    COUNT(*) as æ€»è®¢å•è¡Œæ•°,
    COUNT(DISTINCT InvoiceNo) as å”¯ä¸€è®¢å•æ•°,
    COUNT(DISTINCT CustomerID) as å”¯ä¸€å®¢æˆ·æ•°,
    COUNT(DISTINCT StockCode) as å”¯ä¸€å•†å“ç§ç±»,
    MIN(InvoiceDate) as æœ€æ—©è®¢å•æ—¥æœŸ,
    MAX(InvoiceDate) as æœ€æ™šè®¢å•æ—¥æœŸ
FROM retail;
"""
df_task1_2 = pd.read_sql_query(query_task1_2,conn)
# print(df_task1_2)
df_task1_2

    æ€»è®¢å•è¡Œæ•°  å”¯ä¸€è®¢å•æ•°  å”¯ä¸€å®¢æˆ·æ•°  å”¯ä¸€å•†å“ç§ç±»               æœ€æ—©è®¢å•æ—¥æœŸ               æœ€æ™šè®¢å•æ—¥æœŸ
0  541909  25900   4372    4070  2010-12-01 08:26:00  2011-12-09 12:50:00

#### 1.3æ›´æ·±å…¥çš„æ¢ç´¢(ç»ƒä¹ )

æ‰¾å‡ºæ¯ä¸ªå›½å®¶çš„é”€å”®é¢æ’åã€‚è¿™æ¶‰åŠåˆ° GROUP BYã€SUM å’Œæ’åºã€‚
- å‘ç¥¨ç¼–å·-è‚¡ç¥¨ä»£ç -æè¿°-æ•°é‡-å‘ç¥¨æ—¥æœŸ-å•ä»·-å®¢æˆ·ID-å›½å®¶
- WHERE Quantity > 0ï¼šè¿™æ˜¯æ•°æ®æ¸…æ´—æ€ç»´ï¼ åŸå§‹æ•°æ®é‡Œï¼Œé€€è´§è®¢å•ç”¨è´Ÿæ•°è¡¨ç¤ºã€‚å¦‚æœä½ ä¸æ’é™¤ï¼Œæ€»é”€å”®é¢ä¼šè¢«æ‹‰ä½ã€‚åœ¨é¢è¯•ä¸­å±•ç¤ºå‡ºä½ èƒ½ä¸»åŠ¨æƒ³åˆ°è¿™ä¸€ç‚¹ï¼Œæ˜¯å·¨å¤§çš„åŠ åˆ†é¡¹ã€‚

- GROUP BY å’Œ ORDER BYï¼šGROUP BY åé¢è·Ÿç€åˆ†ç»„çš„å­—æ®µï¼ˆè¿™é‡Œæ˜¯å›½å®¶ï¼‰ï¼ŒORDER BY å†³å®šç»“æœçš„å±•ç¤ºé¡ºåºã€‚

In [24]:
print('ä¸åŒå›½å®¶é”€å”®é¢æ’å:')
query_task1_3 = """
SELECT
    Country,
    COUNT(DISTINCT InvoiceNo) AS è®¢å•æ•°,
    SUM(Quantity * UnitPrice) AS é”€å”®é¢
FROM retail
WHERE Quantity > 0
GROUP BY Country
ORDER BY é”€å”®é¢ DESC
LIMIT 10;
"""
df_task1_3 = pd.read_sql_query(query_task1_3,conn)
df_task1_3

ä¸åŒå›½å®¶é”€å”®é¢æ’å:

          Country    è®¢å•æ•°          é”€å”®é¢
0  United Kingdom  18786  9003097.964
1     Netherlands     95   285446.340
2            EIRE    288   283453.960
3         Germany    457   228867.140
4          France    392   209715.110
5       Australia     57   138521.310
6           Spain     90    61577.110
7     Switzerland     54    57089.900
8         Belgium     98    41196.340
9          Sweden     36    38378.330

In [25]:
# 7. å…³é—­æ¸¸æ ‡å’Œæ•°æ®åº“è¿æ¥ï¼ˆéå¸¸é‡è¦ï¼ï¼‰
cur.close()
conn.close()
print("ğŸ”’ æ•°æ®åº“è¿æ¥å·²å…³é—­ã€‚")

ğŸ”’ æ•°æ®åº“è¿æ¥å·²å…³é—­ã€‚