In [6]:
import sqlite3  # è¿™å°±æ˜¯æˆ‘ä»¬çš„æ•°æ®åº“å¼•æ“
import pandas as pd  # å¤„ç†è¡¨æ ¼æ•°æ®çš„ç¥å™¨
import numpy as np  # å¤„ç†æ•°å€¼çš„å¸®æ‰‹
import matplotlib.pyplot as plt  # ç”»å›¾ç”¨çš„ï¼Œåé¢ä¼šç”¨åˆ°
# %matplotlib inline  # è®©å›¾è¡¨ç›´æ¥åœ¨Notebooké‡Œæ˜¾ç¤º

# 2. å»ºç«‹ä¸€ä¸ªæ•°æ®åº“è¿æ¥ã€‚å¦‚æœä¸å­˜åœ¨ 'online_retail.db' è¿™ä¸ªæ–‡ä»¶ï¼Œå®ƒä¼šè‡ªåŠ¨åˆ›å»ºã€‚
# æŠŠå®ƒæƒ³è±¡æˆä½ æ‰“å¼€äº†æ•°æ®åº“è½¯ä»¶ï¼Œå‡†å¤‡å¹²æ´»ã€‚
conn = sqlite3.connect('online_retail.db')
print("âœ… æ•°æ®åº“è¿æ¥å·²å»ºç«‹ï¼")

âœ… æ•°æ®åº“è¿æ¥å·²å»ºç«‹ï¼

In [7]:
# ç”¨æ¥æŸ¥çœ‹æ–‡ä»¶çš„ç¼–ç æ–‡ä»¶
import chardet

# æ£€æµ‹æ–‡ä»¶ç¼–ç 
with open('OnlineRetail.csv', 'rb') as f:
    result = chardet.detect(f.read())

print(f"æ£€æµ‹åˆ°çš„ç¼–ç æ˜¯: {result['encoding']}")

# ä½¿ç”¨æ£€æµ‹åˆ°çš„ç¼–ç è¯»å–æ–‡ä»¶
df = pd.read_csv('OnlineRetail.csv', encoding=result['encoding'])
print('æŸ¥çœ‹æ•°æ®å½¢çŠ¶:', df.shape)
print('å‰5è¡Œ:')
display(df.head())

æ£€æµ‹åˆ°çš„ç¼–ç æ˜¯: ISO-8859-1
æŸ¥çœ‹æ•°æ®å½¢çŠ¶: (541909, 8)
å‰5è¡Œ:

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

- encoding='unicode_escape'ï¼šè¿™ä¸ªæ•°æ®é›†ç¼–ç æœ‰ç‚¹æ€ªï¼Œä¸åŠ è¿™ä¸ªå‚æ•°ä½ å¾ˆå¯èƒ½çœ‹åˆ°ä¹±ç æŠ¥é”™ï¼Œè®°ä½å®ƒï¼Œè¿™æ˜¯ç»éªŒã€‚

- parse_dates=['InvoiceDate']ï¼šä¸»åŠ¨å‘Šè¯‰ pandas æŠŠ â€œInvoiceDateâ€ åˆ—å½“ä½œæ—¥æœŸæ—¶é—´ç±»å‹å¤„ç†ï¼Œåç»­åšæ—¶é—´ç­›é€‰æ—¶ä½ ä¼šæ„Ÿè°¢æˆ‘è¿™ä¸ªæé†’ã€‚

- è¿è¡Œåï¼Œä½ åº”è¯¥èƒ½çœ‹åˆ°æ•°æ®é¢„è§ˆå’Œä¸€ä¸ªæˆåŠŸçš„æç¤ºã€‚è¿™æ—¶ï¼Œä½ ç›®å½•ä¸‹ä¼šç”Ÿæˆä¸€ä¸ª online_retail.db æ–‡ä»¶ï¼Œè¿™å°±æ˜¯ä½ çš„æ•°æ®åº“äº†ã€‚

- connè¿™æ˜¯ä¸€ä¸ªæ•°æ®åº“è¿æ¥å¯¹è±¡ï¼Œå®ƒä»£è¡¨äº†ä¸ç‰¹å®šæ•°æ®åº“çš„è¿æ¥ã€‚è¿™ä¸ªå¯¹è±¡éœ€è¦åœ¨è°ƒç”¨ to_sql æ–¹æ³•ä¹‹å‰åˆ›å»ºï¼Œå¹¶ä¼ é€’ç»™è¯¥æ–¹æ³•ï¼Œä»¥ä¾¿ to_sql æ–¹æ³•çŸ¥é“è¦å°†æ•°æ®å­˜å‚¨åˆ°å“ªä¸ªæ•°æ®åº“ä¸­

In [13]:
# 3. ç”¨ pandas è¯»å– CSV æ–‡ä»¶ã€‚æ³¨æ„ç¼–ç å’Œæ—¥æœŸæ ¼å¼ï¼Œè¿™ä¸ªæ•°æ®é›†æœ‰å‘ï¼Œæˆ‘ä»¬æå‰ç»•è¿‡ã€‚
# æŠŠ â€˜ä½ çš„æ–‡ä»¶è·¯å¾„â€™ è¿™å‡ ä¸ªå­—ï¼Œæ›¿æ¢æˆä½ ç”µè„‘ä¸Š OnlineRetail.csv çš„çœŸå®è·¯å¾„ï¼Œä¾‹å¦‚ï¼šr'C:\Users\ä½ çš„åå­—\Downloads\OnlineRetail.csv'
# æ³¨æ„ï¼šè·¯å¾„å‰çš„ â€˜râ€™ æ˜¯ä¸ºäº†é˜²æ­¢è½¬ä¹‰å­—ç¬¦å‡ºé”™ï¼ŒWindowsç”¨æˆ·å°¤å…¶è¦æ³¨æ„ï¼
file_path = 'OnlineRetail.csv'
df = pd.read_csv(file_path, encoding='unicode_escape', parse_dates=['InvoiceDate'])

# 4. çœ‹ä¸€çœ¼æ•°æ®é•¿ä»€ä¹ˆæ ·ï¼Œè¿™æ˜¯æ•°æ®åˆ†æå¸ˆçš„æœ¬èƒ½ã€‚head()æ˜¯çœ‹å‰5è¡Œã€‚
print("ğŸ“„ æ•°æ®é¢„è§ˆ (å‰5è¡Œ):")
print(df.head())
print("\nğŸ“Š æ•°æ®å½¢çŠ¶ (è¡Œæ•°ï¼Œåˆ—æ•°):", df.shape)

# 5. å°† pandas DataFrame å†™å…¥ SQLite æ•°æ®åº“ï¼Œå‘½åä¸º â€˜retailâ€™ è¡¨ã€‚
# if_exists='replace' æ„æ€æ˜¯ï¼šå¦‚æœå·²ç»æœ‰å« â€˜retailâ€™ çš„è¡¨ï¼Œå°±æ›¿æ¢æ‰ã€‚ç¬¬ä¸€æ¬¡è·‘æ”¾å¿ƒç”¨ã€‚
df.to_sql('retail', conn, if_exists='replace', index=False)
print("ğŸ‰ æ•°æ®å·²æˆåŠŸå¯¼å…¥æ•°æ®åº“è¡¨ â€˜retailâ€™ ï¼")

ğŸ“„ æ•°æ®é¢„è§ˆ (å‰5è¡Œ):
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

          InvoiceDate  UnitPrice  CustomerID         Country
0 2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2 2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3 2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4 2010-12-01 08:26:00       3.39     17850.0  United Kingdom

ğŸ“Š æ•°æ®å½¢çŠ¶ (è¡Œæ•°ï¼Œåˆ—æ•°): (541909, 8)
ğŸ‰ æ•°æ®å·²æˆåŠŸå¯¼å…¥æ•°æ®åº“è¡¨ â€˜retailâ€™ ï¼

# 1.æ•°æ®æå–ä¸åŸºæœ¬æ¢ç´¢

- ç›®æ ‡ï¼šç†Ÿæ‚‰æ•°æ®ï¼Œç»ƒä¹ SELECT, WHERE, COUNT, DISTINCTï¼Œæ—¥æœŸå‡½æ•°ã€‚
- å…³é”®ï¼šå‡†ç¡®ç­›é€‰å’Œæ±‡æ€»æ•°æ®ã€‚

#### ä»»åŠ¡1.1ï¼šåŸºç¡€æŸ¥è¯¢ï¼šä»æ•°æ®é›†ä¸­æå–æŒ‡å®šå›½å®¶ï¼ˆå¦‚å¾·å›½ï¼‰ä¸Šä¸ªæœˆçš„æ‰€æœ‰è®¢å•æ•°æ®ã€‚

- SELECT *ï¼šåœ¨æ¢ç´¢é˜¶æ®µå¸¸ç”¨ï¼Œä½†å®é™…å·¥ä½œä¸­å’Œé¢è¯•æ—¶ï¼Œä¸¥ç¦åœ¨æ­£å¼ä»£ç æˆ–æŠ¥å‘Šé‡Œå†™ SELECT *ã€‚ä½ å¿…é¡»æ˜ç¡®æŒ‡æ˜éœ€è¦çš„å­—æ®µã€‚è¿™é‡Œåªæ˜¯ä¸ºäº†æ¼”ç¤ºã€‚

- WHEREï¼šè¿™æ˜¯è¿‡æ»¤æ•°æ®çš„ç”Ÿå‘½çº¿ã€‚é¢è¯•å¿…è€ƒã€‚æ³¨æ„ï¼Œåœ¨SQLä¸­ï¼Œå­—ç¬¦ä¸²ç”¨å•å¼•å·ã€‚

- COUNT(*) å’Œ COUNT(DISTINCT ...)ï¼šè¿™æ˜¯ä¸¤ä¸ªå¤©å·®åœ°åˆ«çš„æ¦‚å¿µã€‚

- COUNT(*)ï¼šæ•°çš„æ˜¯æ€»è¡Œæ•°ã€‚

- COUNT(DISTINCT CustomerID)ï¼šæ•°çš„æ˜¯ä¸é‡å¤çš„å®¢æˆ·IDæ•°é‡ã€‚å¦‚æœå®¢æˆ·æœ‰é‡å¤è´­ä¹°ï¼Œä»–åªè¢«è®¡ç®—ä¸€æ¬¡ã€‚é¢è¯•å®˜100%ä¼šé—®ä½ å®ƒä»¬çš„åŒºåˆ«ã€‚

- MIN() / MAX()ï¼šèšåˆå‡½æ•°ï¼Œè¿™é‡Œç”¨æ¥ç¡®å®šæ•°æ®çš„æ—¶é—´èŒƒå›´ã€‚

In [15]:
# 6.åˆ›å»ºä¸€ä¸ªæ¸¸æ ‡,è¿™ä¸ªå‘æ•°æ®åº“å‘é€sqlæŒ‡ä»¤çš„'ä¼ è¯ç­’'
cur = conn.cursor()

# æ‰§è¡ŒSQLæŸ¥è¯¢
query_task1_1 = """
SELECT *
FROM retail
WHERE Country == 'Germany'
-- LIMIT 10; -- åˆæ¬¡æŸ¥è¯¢ï¼Œå…ˆç”¨LIMITçœ‹çœ‹ç»“æœï¼Œç¡®è®¤æ— è¯¯åå†å»æ‰å®ƒè¿è¡Œå…¨éƒ¨æ•°æ®
"""
# å…ˆåªå–10æ¡çœ‹çœ‹ï¼Œæ²¡é—®é¢˜å°±æ³¨é‡Šæ‰ LIMIT 10ï¼Œå†è¿è¡Œä¸€æ¬¡
df_task1_1 = pd.read_sql_query(query_task1_1,conn)
print(f'å¾·å›½åœ°åŒºå…±æœ‰{len(df_task1_1)}æ¡äº¤æ˜“è®°å½•')
display(df_task1_1)

å¾·å›½åœ°åŒºå…±æœ‰9495æ¡äº¤æ˜“è®°å½•

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536527,22809,SET OF 6 T-LIGHTS SANTA,6,2010-12-01 13:04:00,2.95,12662.0,Germany
1,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,2010-12-01 13:04:00,2.55,12662.0,Germany
2,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,2010-12-01 13:04:00,0.85,12662.0,Germany
3,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,2010-12-01 13:04:00,1.65,12662.0,Germany
4,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,2010-12-01 13:04:00,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
9490,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,2011-12-09 12:16:00,1.25,12713.0,Germany
9491,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,2011-12-09 12:16:00,0.85,12713.0,Germany
9492,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,2011-12-09 12:16:00,0.85,12713.0,Germany
9493,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,2011-12-09 12:16:00,2.08,12713.0,Germany
9494,581578,22736,RIBBON REEL MAKING SNOWMEN,10,2011-12-09 12:16:00,1.65,12713.0,Germany

#### ä»»åŠ¡1.2ï¼šæ•°æ®æ¦‚è§ˆ - è®¡ç®—æ ¸å¿ƒæŒ‡æ ‡

Invoice-----å‘ç¥¨

Customer----å®¢æˆ·

Stock----åº“å­˜

distinct----ç‹¬ç‰¹çš„

In [20]:
query_task1_2 = """
SELECT
    COUNT(*) as æ€»è®¢å•è¡Œæ•°,
    COUNT(DISTINCT InvoiceNo) as å”¯ä¸€è®¢å•æ•°,
    COUNT(DISTINCT CustomerID) as å”¯ä¸€å®¢æˆ·æ•°,
    COUNT(DISTINCT StockCode) as å”¯ä¸€å•†å“ç§ç±»,
    MIN(InvoiceDate) as æœ€æ—©è®¢å•æ—¥æœŸ,
    MAX(InvoiceDate) as æœ€æ™šè®¢å•æ—¥æœŸ
FROM retail;
"""
df_task1_2 = pd.read_sql_query(query_task1_2,conn)
# print(df_task1_2)
df_task1_2

    æ€»è®¢å•è¡Œæ•°  å”¯ä¸€è®¢å•æ•°  å”¯ä¸€å®¢æˆ·æ•°  å”¯ä¸€å•†å“ç§ç±»               æœ€æ—©è®¢å•æ—¥æœŸ               æœ€æ™šè®¢å•æ—¥æœŸ
0  541909  25900   4372    4070  2010-12-01 08:26:00  2011-12-09 12:50:00

#### 1.3æ›´æ·±å…¥çš„æ¢ç´¢(ç»ƒä¹ )

æ‰¾å‡ºæ¯ä¸ªå›½å®¶çš„é”€å”®é¢æ’åã€‚è¿™æ¶‰åŠåˆ° GROUP BYã€SUM å’Œæ’åºã€‚
- å‘ç¥¨ç¼–å·-è‚¡ç¥¨ä»£ç -æè¿°-æ•°é‡-å‘ç¥¨æ—¥æœŸ-å•ä»·-å®¢æˆ·ID-å›½å®¶
- WHERE Quantity > 0ï¼šè¿™æ˜¯æ•°æ®æ¸…æ´—æ€ç»´ï¼ åŸå§‹æ•°æ®é‡Œï¼Œé€€è´§è®¢å•ç”¨è´Ÿæ•°è¡¨ç¤ºã€‚å¦‚æœä½ ä¸æ’é™¤ï¼Œæ€»é”€å”®é¢ä¼šè¢«æ‹‰ä½ã€‚åœ¨é¢è¯•ä¸­å±•ç¤ºå‡ºä½ èƒ½ä¸»åŠ¨æƒ³åˆ°è¿™ä¸€ç‚¹ï¼Œæ˜¯å·¨å¤§çš„åŠ åˆ†é¡¹ã€‚

- GROUP BY å’Œ ORDER BYï¼šGROUP BY åé¢è·Ÿç€åˆ†ç»„çš„å­—æ®µï¼ˆè¿™é‡Œæ˜¯å›½å®¶ï¼‰ï¼ŒORDER BY å†³å®šç»“æœçš„å±•ç¤ºé¡ºåºã€‚

In [24]:
print('ä¸åŒå›½å®¶é”€å”®é¢æ’å:')
query_task1_3 = """
SELECT
    Country,
    COUNT(DISTINCT InvoiceNo) AS è®¢å•æ•°,
    SUM(Quantity * UnitPrice) AS é”€å”®é¢
FROM retail
WHERE Quantity > 0
GROUP BY Country
ORDER BY é”€å”®é¢ DESC
LIMIT 10;
"""
df_task1_3 = pd.read_sql_query(query_task1_3,conn)
df_task1_3

ä¸åŒå›½å®¶é”€å”®é¢æ’å:

          Country    è®¢å•æ•°          é”€å”®é¢
0  United Kingdom  18786  9003097.964
1     Netherlands     95   285446.340
2            EIRE    288   283453.960
3         Germany    457   228867.140
4          France    392   209715.110
5       Australia     57   138521.310
6           Spain     90    61577.110
7     Switzerland     54    57089.900
8         Belgium     98    41196.340
9          Sweden     36    38378.330

#### 5.æ”¶å°¾ä¸å¥½ä¹ æƒ¯

æ‰€æœ‰ä»»åŠ¡è·‘å®Œï¼Œå¿…é¡»å…³é—­æ•°æ®åº“è¿æ¥ï¼Œé‡Šæ”¾èµ„æºã€‚è¿™æ˜¯èŒä¸šç´ å…»ã€‚

In [25]:
# 7. å…³é—­æ¸¸æ ‡å’Œæ•°æ®åº“è¿æ¥ï¼ˆéå¸¸é‡è¦ï¼ï¼‰
cur.close()
conn.close()
print("ğŸ”’ æ•°æ®åº“è¿æ¥å·²å…³é—­ã€‚")

ğŸ”’ æ•°æ®åº“è¿æ¥å·²å…³é—­ã€‚

#### ç»ƒä¹ :æŠŠä»»åŠ¡1.1çš„SQLè¯­å¥å»æ‰ LIMIT 10ï¼Œå†è¿è¡Œä¸€æ¬¡ï¼Œæ„Ÿå—æ•°æ®é‡ã€‚

In [10]:
cur = conn.cursor()
query_task1_1 = """
SELECT *
FROM retail
WHERE Country = 'Sweden';
"""
df_task1_1 = pd.read_sql_query(query_task1_1,conn)
print(f'ç‘å…¸åœ°åŒºå…±æœ‰{len(df_task1_1)}æ¡äº¤æ˜“è®°å½•')
print(df_task1_1)

ç‘å…¸åœ°åŒºå…±æœ‰462æ¡äº¤æ˜“è®°å½•
    InvoiceNo StockCode                        Description  Quantity  \
0     C538847    85232B    SET OF 3 BABUSHKA STACKING TINS      -240
1      538848    85232B    SET OF 3 BABUSHKA STACKING TINS       240
2      539338     84077  WORLD WAR 2 GLIDERS ASSTD DESIGNS       576
3      539338     22951    60 CAKE CASES DOLLY GIRL DESIGN       240
4      539338     22417     PACK OF 60 SPACEBOY CAKE CASES       240
..        ...       ...                                ...       ...
457    578089     21731      RED TOADSTOOL LED NIGHT LIGHT        12
458    578089      POST                            POSTAGE         4
459   C578090      POST                            POSTAGE        -2
460    580704     23494   VINTAGE DOILY DELUXE SEWING KIT         40
461   C580702     23494   VINTAGE DOILY DELUXE SEWING KIT        -40

             InvoiceDate  UnitPrice  CustomerID Country
0    2010-12-14 13:27:00       4.95     17404.0  Sweden
1    2010-12-14 13:28:00       4.95     17404.0  Sweden
2    2010-12-17 10:54:00       0.29     17404.0  Sweden
3    2010-12-17 10:54:00       0.55     17404.0  Sweden
4    2010-12-17 10:54:00       0.55     17404.0  Sweden
..                   ...        ...         ...     ...
457  2011-11-22 17:02:00       1.65     12483.0  Sweden
458  2011-11-22 17:02:00      40.00     12483.0  Sweden
459  2011-11-22 17:03:00      40.00     12483.0  Sweden
460  2011-12-05 16:26:00       5.95     17404.0  Sweden
461  2011-12-05 16:26:00       5.95     17404.0  Sweden

[462 rows x 8 columns]

#### ä¿®æ”¹ä»»åŠ¡1.1ï¼ŒæŸ¥è¯¢ Country = 'France' ä¸” Quantity > 5 çš„æ‰€æœ‰è®°å½•ã€‚è¿™æ˜¯æ¨¡æ‹Ÿé¢è¯•å®˜ç»™ä½ åŠ æ¡ä»¶ã€‚

In [12]:
query_task1_4 = """
SELECT *
FROM retail
WHERE Country = 'France' 
AND Quantity > 5 ;
"""
df_task1_4 = pd.read_sql_query(query_task1_4,conn)
print(f'æ³•å›½è®¢å•æ•°å¤§äº5çš„ä¸€å…±æœ‰{len(df_task1_4)}æ¡è®°å½•')
df_task1_4

æ³•å›½è®¢å•æ•°å¤§äº5çš„ä¸€å…±æœ‰6328æ¡è®°å½•

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
1,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
2,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
3,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
4,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France
...,...,...,...,...,...,...,...,...
6323,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
6324,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
6325,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
6326,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
6327,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France

In [22]:
# å¿«é€Ÿä¾¦å¯Ÿï¼šæŸ¥çœ‹æ•°æ®åº“ä¸­æœ‰å“ªäº›è¡¨ï¼Œä»¥åŠretailè¡¨çš„å‰å‡ ä¸ªå­—æ®µ
quick_check = pd.read_sql_query("SELECT * FROM retail LIMIT 0;", conn)
print("âœ… è¡¨ 'retail' è¿æ¥æˆåŠŸã€‚")
print("è¯¥è¡¨åŒ…å«çš„åˆ—æœ‰ï¼š", quick_check.columns.tolist())
print("'å‘ç¥¨ç¼–å·', 'åº“å­˜ä»£ç ', 'å•†å“æè¿°', 'æ•°é‡', 'å‘ç¥¨æ—¥æœŸ', 'å•ä»·', 'å®¢æˆ·ID', 'å›½å®¶'")

âœ… è¡¨ 'retail' è¿æ¥æˆåŠŸã€‚
è¯¥è¡¨åŒ…å«çš„åˆ—æœ‰ï¼š ['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country']
'å‘ç¥¨ç¼–å·', 'åº“å­˜ä»£ç ', 'å•†å“æè¿°', 'æ•°é‡', 'å‘ç¥¨æ—¥æœŸ', 'å•ä»·', 'å®¢æˆ·ID', 'å›½å®¶'

#### æ¨¡ä»¿åŠ åˆ†ä»»åŠ¡ï¼Œå†™ä¸€æ®µSQLï¼Œè®¡ç®—æ¯ä¸ª CustomerID çš„æ€»è´­ä¹°é‡‘é¢ï¼Œå¹¶æ‰¾å‡ºæ¶ˆè´¹æœ€é«˜çš„å‰5åå®¢æˆ·ã€‚ï¼ˆæç¤ºï¼šGROUP BY CustomerIDï¼‰

In [16]:
query_task1_5 = """
SELECT 
    CustomerID AS å®¢æˆ·id,
    SUM(Quantity*UnitPrice) AS è´­ä¹°é‡‘é¢
FROM retail
GROUP BY CustomerID
ORDER BY è´­ä¹°é‡‘é¢ DESC
LIMIT 5;
"""
df_task1_5= pd.read_sql_query(query_task1_5,conn)
df_task1_5

      å®¢æˆ·id        è´­ä¹°é‡‘é¢
0      NaN  1447682.12
1  14646.0   279489.02
2  18102.0   256438.49
3  17450.0   187482.17
4  14911.0   132572.62

#### 2.1æ—¶é—´åºåˆ—åˆ†æï¼š

è®¡ç®—2011å¹´æ¯æœˆçš„é”€å”®é¢å’Œç¯æ¯”å¢é•¿ç‡ï¼ˆé¢è¯•é«˜é¢‘ï¼‰
- strftime å‡½æ•°ï¼Œè¯¥å‡½æ•°é€šå¸¸åœ¨ SQLite æ•°æ®åº“ä¸­ç”¨æ¥æ ¼å¼åŒ–æ—¥æœŸå’Œæ—¶é—´
- LAG æ˜¯ä¸€ä¸ªçª—å£å‡½æ•°ï¼Œç”¨äºè®¿é—®å½“å‰è¡Œçš„å‰ä¸€è¡Œçš„æ•°æ®ã€‚åœ¨è¿™ä¸ªä¾‹å­ä¸­ï¼Œå®ƒè·å–å‰ä¸€ä¸ªæœˆçš„æ€»é”€å”®é¢ã€‚
- OVER (ORDER BY strftime('%Y-%m', InvoiceDate)) æŒ‡å®šäº†çª—å£çš„æ’åºè§„åˆ™ï¼Œå³æŒ‰ç…§ InvoiceDate å­—æ®µæ ¼å¼åŒ–åçš„å¹´æœˆé¡ºåºè¿›è¡Œæ’åºã€‚

In [21]:
query_task2_1 = """
SELECT 
    strftime('%Y-%m',InvoiceDate) as å¹´æœˆ,
    SUM(Quantity*UnitPrice) as å½“æœˆé”€å”®é¢,
    (SUM(Quantity*UnitPrice)-LAG(SUM(Quantity*UnitPrice)) OVER (ORDER BY strftime('%Y-%m',InvoiceDate)))
    / LAG(SUM(UnitPrice * Quantity)) OVER (ORDER BY strftime('%Y-%m', InvoiceDate))*100 as ç¯æ¯”å¢é•¿ç‡
FROM retail
WHERE Quantity > 0 AND InvoiceDate >= '2011-01-01' AND InvoiceDate <= '2012-01-01'
GROUP BY å¹´æœˆ
ORDER BY å¹´æœˆ;
"""
df_task2_1 = pd.read_sql_query(query_task2_1,conn)
df_task2_1

         å¹´æœˆ        å½“æœˆé”€å”®é¢      ç¯æ¯”å¢é•¿ç‡
0   2011-01   691364.560        NaN
1   2011-02   523631.890 -24.261103
2   2011-03   717639.360  37.050354
3   2011-04   537808.621 -25.058650
4   2011-05   770536.020  43.273274
5   2011-06   761739.900  -1.141559
6   2011-07   719221.191  -5.581788
7   2011-08   737014.260   2.473936
8   2011-09  1058590.172  43.632251
9   2011-10  1154979.300   9.105424
10  2011-11  1509496.330  30.694665
11  2011-12   638792.680 -57.681733

#### ç”¨æˆ·åˆ†å±‚ï¼ˆRFMæ¨¡å‹é›å½¢ï¼‰

åŸºäºæ•°æ®é›†è®¡ç®—æ¯ä¸ªå®¢æˆ·çš„æœ€è¿‘è´­ä¹°æ—¥ã€è´­ä¹°é¢‘ç‡å’Œæ€»é‡‘é¢
- æœ€è¿‘è´­ä¹°æ—¥---max(InvoiceDate)
- è´­ä¹°é¢‘ç‡---count(DISTINCT InvoiceNo)
- æ€»é‡‘é¢---sum(Quantity*UnitPrice)
- WHERE Quantity > 0 AND CustomerID IS NOT NULL(è¦è‡ªå·±è®°å¾—)

In [26]:
query_task2_2 = """
SELECT
    CustomerID,
    MAX(InvoiceDate) as æœ€è¿‘è´­ä¹°æ—¶é—´,
    COUNT(DISTINCT InvoiceNo) as è´­ä¹°é¢‘ç‡,
    SUM(Quantity*UnitPrice) as æ€»é‡‘é¢
FROM retail
WHERE Quantity > 0 AND CustomerID IS NOT NULL
GROUP BY CustomerID;
"""
df_task2_2 = pd.read_sql_query(query_task2_2,conn)
df_task2_2

      CustomerID               æœ€è¿‘è´­ä¹°æ—¶é—´  è´­ä¹°é¢‘ç‡       æ€»é‡‘é¢
0        12346.0  2011-01-18 10:01:00     1  77183.60
1        12347.0  2011-12-07 15:52:00     7   4310.00
2        12348.0  2011-09-25 13:13:00     4   1797.24
3        12349.0  2011-11-21 09:51:00     1   1757.55
4        12350.0  2011-02-02 16:01:00     1    334.40
...          ...                  ...   ...       ...
4334     18280.0  2011-03-07 09:52:00     1    180.60
4335     18281.0  2011-06-12 10:53:00     1     80.82
4336     18282.0  2011-12-02 11:43:00     2    178.05
4337     18283.0  2011-12-06 12:02:00    16   2094.88
4338     18287.0  2011-10-28 09:29:00     3   1837.28

[4339 rows x 4 columns]