# Pandas的axis参数怎么理解?
- axis=0或者"index":
 - 如果是单行操作，就指的是某一行
 - 如果是聚合操作，指的是跨行cross rows。对每一列操作,是得到的是行
- axis=1或者"columns'
 - 如果是单列操作，就指的是某一列
 - 如果是聚合操作，指的是跨列cross columns,对每一行操作,得到的是列

按哪个axis，就是这个axis要动起来(类似被for遍用)，其它的axis保持不动

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns = ['A','B','C','D']
)

In [4]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

## 1.单列drop,删的就是一列

In [6]:
# 代表的就是删除目标列
df.drop('A',axis =1)

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

## 2.单行drop,删的就是一行

In [8]:
# 代表的就是删除目标列
df.drop(1,axis =0)

   A  B   C   D
0  0  1   2   3
2  8  9  10  11

## 3.按axis = 0/index 执行mean聚合操作时

反直觉:输出的是每一列的mean结果,输出是行

In [9]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [10]:
# axis = 0
df.mean(axis = 0)

A    4.0
B    5.0
C    6.0
D    7.0
dtype: float64

 指定了按哪个axis，就是这个axis要动起来(类似被or遍用)，其它的axis保持不动

## 4.按axis = 1/columns 执行mean聚合操作时

反直觉:输出的是每一行的mean结果,输出是列

In [13]:
df

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
# axis = 1
df.mean(axis = 1)

0    1.5
1    5.5
2    9.5
dtype: float64

## 5.再次举例,加深理解:

In [15]:
def get_sum(x):
    return x['A']+x['B']+x['C']+x['D']
df['values_sum'] = df.apply(get_sum,axis = 1)

In [16]:
df

   A  B   C   D  values_sum
0  0  1   2   3           6
1  4  5   6   7          22
2  8  9  10  11          38