In [2]:
import pandas as pd

In [5]:
fpath = '八戒saas服务店家.csv'

In [6]:
ratings = pd.read_csv(fpath)

In [7]:
ratings.head()

   ¥1000 OA办公企业管理餐饮电商教育培训saas系统定制                 木风软件-国家高新企业15年店
0  ¥3000      微信小程序会员分销商城招聘直播点餐预约                          南京捷创科技
1   ¥100      |saas软件|sass|saas管理  MES-生产管理-防伪溯源-物联网-APS排产-WMS-车间
2  ¥5088          精准营销【拓客宝】精准获客系统                        八戒软件开发服务
3  ¥2000      微信小程序会员分销商城招聘直播点餐预约                          南京捷创科技
4     ¥5   发票查验|saas增值税电子发票真伪验证校验                        八戒工商财税服务

In [8]:
ratings.shape

(59, 3)

In [9]:
ratings.columns

Index(['¥1000', 'OA办公企业管理餐饮电商教育培训saas系统定制', '木风软件-国家高新企业15年店'], dtype='object')

In [10]:
ratings.index

RangeIndex(start=0, stop=59, step=1)

In [12]:
ratings.dtypes

¥1000                       object
OA办公企业管理餐饮电商教育培训saas系统定制    object
木风软件-国家高新企业15年店             object
dtype: object

In [16]:
fpath1 = "简单员工数据.txt"

In [18]:
simlp_data = pd.read_csv(
    fpath1,
    sep = "	",
    header = 0
)

In [19]:
simlp_data

    姓名  年龄  城市     工资   部门
0   张三  28  北京  15000  技术部
1   李四  35  上海  18000  销售部
2   王五  42  广州  22000  市场部
3   赵六  25  深圳  12000  技术部
4   钱七  38  北京  25000  销售部
5   孙八  31  上海  16000  人事部
6   周九  29  杭州  14000  技术部
7   吴十  45  成都  28000  市场部
8  郑十一  33  北京  19000  销售部
9  王十二  27  深圳  13000  技术部

In [20]:
fpath2 = "简单销售数据.xlsx"

In [22]:
simple_Sales = pd.read_excel(fpath2)

In [23]:
simple_Sales

      订单号          日期     产品  类别  数量    单价 销售员  地区   销售额
0  ORD001  2024-01-05  笔记本电脑  电子   1  5500  张三  北京  5500
1  ORD002  2024-01-12     手机  电子   2  3200  李四  上海  6400
2  ORD003  2024-01-18     平板  电子   1  2800  王五  广州  2800
3  ORD004  2024-01-25  笔记本电脑  电子   1  5200  张三  北京  5200
4  ORD005  2024-02-03     耳机  配件   3   300  李四  上海   900
5  ORD006  2024-02-10     手机  电子   1  3100  王五  广州  3100
6  ORD007  2024-02-15     平板  电子   2  2700  张三  北京  5400
7  ORD008  2024-02-22  笔记本电脑  电子   1  5400  李四  上海  5400
8  ORD009  2024-02-28     耳机  配件   2   280  王五  广州   560
9  ORD010  2024-03-05     手机  电子   1  3300  张三  北京  3300

In [24]:
1.series
series是一种类似于一维数组的对象,它由一组数据以及一组与之相关的数据标签(及索引)组成

SyntaxError: invalid decimal literal (3678359810.py, line 1)