## 03. Pandas数据结构
### 1.Series
### 2. DataFrame
### 3.从DataFrame中查询出Series

### 1.series

#### series是一种类似于一维数组的对象,它由一组数据以及一组与之相关的数据标签(及索引)组成

### 仅有数据列表即可产生的最简单的series

In [2]:
import pandas as pd
import numpy as np

In [6]:
s1 = pd.Series([1,'a',33.4,8])
#左侧是索引,右侧是数据
s1

0       1
1       a
2    33.4
3       8
dtype: object

In [7]:
#获取索引
s1.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
#获取数据
s1.values

array([1, 'a', 33.4, 8], dtype=object)

### 创建一个具有标签索引的Series

In [10]:
a2 = pd.Series([1,'a',33.2,7],index=['d','b','c','a'])

In [11]:
a2

d       1
b       a
c    33.2
a       7
dtype: object

#### 使用python字典创建Series

In [12]:
sdata={'xw':3500,'xz':4000,'xt':5000,'xa':7000}

In [13]:
a3 = pd.Series(sdata)
a3

xw    3500
xz    4000
xt    5000
xa    7000
dtype: int64

### 根据标签索引查询数据
#### 类似python的字典

In [14]:
a2

d       1
b       a
c    33.2
a       7
dtype: object

In [15]:
a2['a']

7

In [16]:
type(a2['a'])

int

In [18]:
a2[['a','b']]

a    7
b    a
dtype: object

In [19]:
type(a2[['a','b']])

pandas.core.series.Series

## 2. DataFrame
### DataFrame是一个表格型的数据结构
#### 。 每列可以是不同的值类型 数值、字符串、布尔值等)
#### 。 既有行索引index,也有列索引columns
#### 。可以被看做由Series组成的字典
### 创建dataframe最常用的方法，见02节读取纯文本文件、excel、mysql数据库
### 2.1 根据多个字典序列创建dataframe

In [21]:
data = {
    'state':['a','a','a','b','b'],
    'year':[2000,2001,2002,2001,2002],
    'pop':[1.5,1.7,3.6,2.4,2.9]
}
df = pd.DataFrame(data)

In [22]:
df

  state  year  pop
0     a  2000  1.5
1     a  2001  1.7
2     a  2002  3.6
3     b  2001  2.4
4     b  2002  2.9

In [24]:
df.dtypes

state     object
year       int64
pop      float64
dtype: object

In [25]:
df.columns

Index(['state', 'year', 'pop'], dtype='object')

In [26]:
df.index

RangeIndex(start=0, stop=5, step=1)

## 3. 从DataFrame中查询出Series
#### 。 如果只查询一行、一列，返回的是pd,Series
#### ， 如果查询多行、多列，返回的是pd,DataFrame

In [27]:
df

  state  year  pop
0     a  2000  1.5
1     a  2001  1.7
2     a  2002  3.6
3     b  2001  2.4
4     b  2002  2.9

### 查询列

In [28]:
df['year']

0    2000
1    2001
2    2002
3    2001
4    2002
Name: year, dtype: int64

In [29]:
type(df['year'])

pandas.core.series.Series

In [30]:
df[['year','pop']]

   year  pop
0  2000  1.5
1  2001  1.7
2  2002  3.6
3  2001  2.4
4  2002  2.9

In [31]:
type(df[['year','pop']])

pandas.core.frame.DataFrame

### 查询行

In [32]:
df.loc[1]

state       a
year     2001
pop       1.7
Name: 1, dtype: object

In [33]:
type(df.loc[1])

pandas.core.series.Series

In [35]:
df.loc[1:3]
#指的是1到3

  state  year  pop
1     a  2001  1.7
2     a  2002  3.6
3     b  2001  2.4

In [38]:
type(df.loc[1:3])

pandas.core.frame.DataFrame